<h2>Product List</h2>

<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th *ngIf="userRole === 'Admin'">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.stock }}</td>
      <td *ngIf="userRole === 'Admin'">
        <button (click)="editProduct(product)">Edit</button>
        <button style="margin-left: 6px;" (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
